<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remindoor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body data-assignments='{{ assignments | tojson }}'>

    <div class="app">

        <header>
            <h1>✦ Remindoor</h1>
            <p>Don't sweat it, you won't forget it.</p>
        </header>


        <main>

            <!-- TO DO LIST -->

            <section class="todo-section">

                <div class="section-title">

                    <h2>To-Do List</h2>

                    <button id="addTaskButton">
                        +
                    </button>

                </div>


                <div id="todoList">

                    <div class="todo">
                        <span>Enter tasks here</span>
                    </div>

                </div>

            </section>



            <!-- CALENDAR -->

            <section class="calendar-section">

                <div class="calendar-header">

                    <button id="previousMonth">
                        ←
                    </button>

                    <h2 id="monthName"></h2>

                    <button id="nextMonth">
                        →
                    </button>

                </div>


                <div class="calendar" id="calendar">

                    <!-- JavaScript creates the calendar here -->

                </div>

            </section>

        </main>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <img src="{{ url_for('static', filename='images/otter.png') }}" class="otter-image" alt="">

</body>

</html>
